
.tittle{
    // color: #07ef06;
    color:rgb(27, 26, 26);
    text-shadow: 5px 4px 4px;
    text-align: center;
    padding-top: 1.3rem;
    text-decoration: none;
    font-size: 2.25rem;
}
.container {
    display: flex;
    justify-content: center;
}
.about{

    width: 60rem;
    margin-top: 3rem;
    margin-bottom: 3rem;


    font-size: 1.225rem;
    color: rgb(24, 23, 23);
    text-align: center;
}