/* Add a black background color to the top navigation */
.nav {
  background-color: rgb(12, 11, 11);
  overflow: hidden;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //Tirar se quiser espaçar
  /* padding: 0.5rem calc((100vw - 1000px) / 2); */
  z-index: 10;
}

.containerLinks {
  display: flex;
  align-items: center;

  /* Style the links inside the navigation bar */
  a {
    // color: #07ef06;

    color: #ffc107;
    text-align: center;
    padding: 0.5rem 16px;
    text-decoration: none;
    font-size: 1.1rem;
  }

  /* Change the color of links on hover */
  a:hover {
    font-size: 1.2rem;
    font-weight: 800;
  }

  /* Add a color to the active/current link */
  a.active {
    white-space: nowrap;

    font-size: 1.8rem;
  }
}

.profile {
  margin-right: 1rem;
}

.iconProfile {
  width: 3.5vmin;
  height: 3.5vmin;
  color: #ffc107;
  right: 0;

  &:hover {
    box-shadow: 0 0 10px 0 #ffc107 inset, 0 0 10px 4px #ffc107;
  }
}

.linkProfile {
  border-radius: 50% !important;
}

// Responsive

.icon {
  font-size: 2rem;
  display: none;
}

@media screen and (max-width: 600px) {
  .nav {
    position: relative;

  }
  
  .containerLinks a:not(:first-child) {
    display: none;
  }

  .icon {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

  }
  .containerLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerLinks {
   

    /* Style the links inside the navigation bar */
    a:focus {
      display:block;
      height: 100%;
    }
  }

  // a.active {
  //   display: block;
  // }
}
