/* Add a black background color to the top navigation */
.nav {
  background-color: rgb(12, 11, 11);
  overflow: hidden;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //Tirar se quiser espaçar
  /* padding: 0.5rem calc((100vw - 1000px) / 2); */
  z-index: 10;
}

.containerLinks {

  display: flex;
  align-items: center;

  /* Style the links inside the navigation bar */
  a {
    // color: #07ef06;
    color: #ffc107;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
    font-size: 1.1rem;

  }

  /* Change the color of links on hover */
  a:hover {
    font-size: 1.2rem;
    font-weight: 800;
  }

  /* Add a color to the active/current link */
  a.active {
    font-size: 1.8rem;
  }
}

.searchInput {
  font-family: inherit;
  width: 12rem;
  height: 1.5rem;
  border: 0;
  border-bottom: 2px solid #ffc107;
  outline: 0;
  font-size: 1rem;
  color: #ffc107;
  padding: 7px 0;
  background: rgb(15, 15, 15);
  transition: border-color 0.2s;

  &:hover,
  &:focus {
    box-shadow: 4px 4px 4px #ffc107;
  }
  &::placeholder {
    color: #d8b242;
  }

  &:placeholder-shown ~ .searchInput {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.buttonSearch {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.3em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0.4em 1.1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;

  border-color: #ffc107;
  color: #ffc107;
  box-shadow: 0 0 40px 40px rgb(12, 11, 11) inset, 0 0 0 0 #ffc107;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    color: #ffc107;
    outline: 0;
    box-shadow: 0 0 10px 0 #ffc107 inset, 0 0 10px 4px #ffc107;
  }
}

.secondContainer {
  display: flex;
  align-items: center;
}

.containerSearch {
  margin-right: 4rem;
}

.profile {
  margin-right: 1rem;
}

.iconProfile {
  width: 3.5vmin;
  height: 3.5vmin;
  color: #ffc107;

  &:hover {
    box-shadow: 0 0 10px 0 #ffc107 inset, 0 0 10px 4px #ffc107;
  }
}

.linkProfile {
  border-radius: 50% !important;
}
