

.cascaNota {
  width: 17rem;
  height: 19rem;
  background-color: #ffd968;

  padding: 1rem;
  margin: 1.7rem 1rem;
  font-size: 1.85rem;
  text-align: center;

  border-radius: 0.375rem;
  filter: drop-shadow(0 0 3px #000);

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
}
